// Colors
$c-black: #000;
$c-white: #ffffff;
$c-brown: #402b2b;
$c-pink: #ee4d47;
$c-light-pink: #fcddd4;
$c-delicate-pink: #fef8f5;
$c-blue: #0f264c;

// Fonts
$f-rubik: "Rubik", sans-serif;
$f-dmSerifDisplay: "DM Serif Display", serif;
$f-roboto: "Roboto", sans-serif;

// Font size
$fs-base: 18;

// Transition
$t-normal: 0.35s cubic-bezier(0.4, 0, 0.2, 1);

// Box Shadow
$bs-normal: 0px 10px 20px #fce1e0;

// Media
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
